body {
  background: linear-gradient(#FED7B0, #FFFFEE);
  color: #000;
  height: 100%;
  width: auto;
  padding: 0;
    text-align: center;
}
h2 {
  color: #ff0000;
  text-align: center;
}

h1 {
  color: #000;
  text-align: center;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
  
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: px;
  color: #fff;
  position: relative;
  display: inline-block;
  text-align:center;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.grey {
  background-color: #e7e7e7; color: black;
}

.grey:hover {
  background-color: #6FC6FF;
}
.red {
  background-color: #e74c3c;
}

.red:hover {
  background-color: #FF6656;
}
.orange {

}
#me{

}

#catagories{
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color:#FF0D00;
}
#catagories h3{
  background-color:#DEB17E;
  height:50px;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color:#FF0D00;
}

